$standard-font: 1em;
$almost-black: rgb(26, 26, 26);
$project-width: 780px;
$project-height: 400px;
$nav-color: rgba(255, 0, 152, 0.7);
$accent-color: rgba(255, 190, 11, 1);
$roboto: 'Roboto', sans-serif;
$spectral-sc: 'Spectral SC', serif;
$lato: 'Lato', sans-serif;

* {
    font-size: $standard-font;
    $font-family: roboto;
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;

    //Displays no scrollbar on chrome only, not important but my preferred presentation
    ::-webkit-scrollbar {
        display: none;
    }
}

nav {
    z-index: 300;

    button {
        background: $nav-color;
        border: 1px solid $almost-black;
        border-radius: 5px;
        padding: 0.25em 0.5em;
    }
}

#navigation-hamburger {
    color: white;
    position: fixed;
    top: 2em;
    right: 2em;
    font-size: 2em;
    cursor: pointer;
    z-index: 5;
}

.full-screen {
    position: relative;
    top: 0;
    min-height: 100%;
    width: 100%;
}

#page-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: none;
    position: absolute;
}

#home-background {
    z-index: -1;
    background: url('../assets/portfolio-splash.png');
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
}

#home-container {
    
    background: none;
    overflow: hidden;

    #name-container {
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 30vh;
        color: white;

        #name {
            font-size: $standard-font * 3;
            font-family: $lato;
            font-weight: 600;
        }

        #title {
            font-size: $standard-font * 1.5;
            font-family: $lato;
        }
        
        #cta-button {
            font-family: $lato;
            font-size: $standard-font * 2;
            font-weight: bold;
            border: 1px solid $almost-black;
            background: $nav-color;
            display: inline-block;
            padding: 1em;
            border-radius: 5px;
            margin-top: 5em;
            
            a {
                color: white;
                text-decoration: none;    
            }
        }
    }

    #see-work {
        color: white;
        font-size: 2em;
        position: absolute;
        bottom: 0.5em;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        
        div {
            font-size: $standard-font * .75;
        }
        
        i {
            cursor: pointer;
        }
    }
}

.project-description {
    font-size: $standard-font;
    text-align: center;
    width: 50%;
    padding-left: 4%;
    float: right;
    margin: 0 auto;

    .project-description-text {
        margin: 0;
        text-align: left;
    }

    .project-description-title {
        font-size: $standard-font * 2.5;
        font-weight: bold;
        margin: 0;
        text-align: left;
        color: $almost-black;
        font-family: $lato;
    }

    .project-description-technologies {
        font-size: $standard-font * 0.8;
        text-align: left;
        margin: 0;
        padding-bottom: 1em;
    }

    .project-description-button {
        display: inline-block;
        border-radius: 5px;
        border: 1px solid $almost-black;
        text-align: center;
        background: $nav-color;
        color: white;
        margin: auto;
        margin-top: 3em;
        padding: 0.5em 2em;
        font-size: $standard-font * 1.5;
    }

    .project-description-container {
        border-radius: 5px;
        padding: 1em 0;
    }
}

#work-container {

    .section-title {
        color: $almost-black;
    }

    .project-divider {
        border-bottom: 1px solid rgba(26, 26, 26, 0.5);
        width: 1000px;
        margin: 1em auto;
    }

    .project-description {
        color: rgba(26, 26, 26, 0.5);
    }

    img {
        border: 5px solid rgba(26, 26, 26, .9);
        background: rgba(26, 26, 26, .9);
        border-radius: 5px;
        width: 45%;
        float: left;
    }
}

#about-container {
    background-color: $almost-black;

    .section-title{
        color: white;
    }

    .about-me-section-container {
        border-radius: 5px;
        padding: 3em;

        img {
            position: relative;
            top: -5em;
            border-radius: 20px;
            height: 420px;
            width: 237.5px;
            background-color: white;
            display: inline-block;
        }

        .about-me-blurb {
            color: white;
            width: 700px;
            display: inline-block;
            vertical-align: top;
            margin-left: 100px;
            text-align: center;

            .about-me-subheading {
                text-align: left;
                font-size: $standard-font * 1.5;
                font-weight: bold;
                padding: 0.75em 0;
            }
            
            p {
                text-align: left;
            }
        }
    }
}

#contact-container {
    background-color: $almost-black;

    .section-title {
        color: $almost-black;
    }

    form {
        background: $almost-black;
        border-radius: 5px;
        margin: 0 auto;
        width: 800px;
        padding: 1em 100px;
        text-align: center;

        #form-heading, #form-subheading {
            color: white;
            text-align: center;
        }
        #form-heading {
            font-size: 2em;
            margin: 1em 1em 0.5em 1em;
            font-weight: bold;
            font-family: $lato;
        }
        #form-subheading {
            font-size: $standard-font * 1.5;
            margin-bottom: 2em;
        }

        .form-grouping, .form-grouping-2 {
            margin: 0;
            padding: 0;
            width: 45%;
            display: inline-block;
        }
        .form-grouping {
            margin-right: 25px;
            float: left;
        }
        .form-grouping-2 {
            margin-left: 25px;
            float: right;
        }

        input {
            border-radius: 5px;
            padding: 0.5em;
            width: 100%;
            margin: 1em 0;
            display: block;
            border: 1px solid $almost-black;
            background: rgba(255, 255, 255, 0.5);

            &::placeholder {
                color: white;
                font-weight: bold;
            }
        }
        textarea {
            resize: none;
            height: 10em;
            padding: 0.5em;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $almost-black;
            background: rgba(255, 255, 255, 0.5);
            color: white;

            &::placeholder {
                color: white;
                font-weight: bold;
            }
        }

        button {
            border-radius: 5px;
            border: 1px solid $almost-black;
            color: white;
            font-size: 2em;
            font-weight: bold;
            width: 400px;
            background: $nav-color;
            padding: 0.5em;
            text-align: center;
            margin: 1em auto;
        }
    }
}

#email-invalid {
    color: red;
    display: none;
}

#thankyou-message-container {
    background: $almost-black;
    border-radius: 5px;
    margin: auto;
    width: 800px;
    height: 15em;
    padding: 1em 100px;
    display: none;

    #thankyou-message {
        color: white;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        font-family: $lato;
        margin: 1em 1em 0.5em 1em;
    }
}

.info-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: $standard-font * 3;
    font-family: $lato;
    color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    font-weight: bold;
}

.project-container {
    display: block;
    overflow-y: auto;
    margin: 0 auto;
    padding: 8em 0;
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
    text-align: center;

   .project-img-container {
       text-align: center;
       margin-bottom: 1em;
       margin-left: auto;
       margin-right: auto;
   }

    img {
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin: auto;
        padding: 0;
    }

    .img-on-white {
        border: 1px solid rgba(26, 26, 26, 0.5);
    }
}

#navigation-menu {
    z-index: 5;
    position: fixed;
    top: 3.5em;
    right: -100vw;
    width: 25%;
    background: $almost-black;
    border: 1px solid white;
    border-radius: 5px;
    display: none;

    #navigation-close {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        font-size: $standard-font * 2;
        cursor: pointer;
        color: white;
    }

    #nav-title {
        display: inline-block;
        padding-top: 1em;
        margin-left: 1em;
        font-size: 2em; //2em
        color: white;
        font-weight: bold;
        font-family: $lato;
    }
    
    #nav-emblem {
        display: none;
        padding-top: 1em;
        margin-left: 1em;
        font-size: 2em; //2em
        color: white;
        font-weight: bold;
        font-family: $lato;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 1em;
        font-size: $standard-font * 1.5;

        li {
            padding: 1em 2em;
            background-color: rgba(255, 255, 255, 0.1);
            display: block;
            border: 1px solid $almost-black;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    a {
        color: white;
        font-weight: bold;
        text-decoration: none;

        i {
            margin-right: 1em;
        }
    }
}

.link-icons {
    font-size: $standard-font * 3;
    margin: 2em 0.5em;
    margin-bottom: 0;
    display: inline-block;
    padding: 0.3em;
    border: 1px solid $almost-black;
    border-radius: 5px;
    text-align: center;
    background: $nav-color;
    
    a {
        color: white;
        text-decoration: none;
    }
}

@media (max-width: 1499px) {
    #navigation-menu {
        width: 30%;
    }
}

@media (max-width: 1299px) {
    #navigation-menu {
        width: 35%;
    }
}

@media (max-width: 1199px) {
    
    #navigation-menu {
        width: 40%;
    }
    
    #home-container {
        #name-container {
            #cta-button {
                margin-top: 3em;
            }
        }
    }

    .info-container {
        width: 80%;
    }

    #about-container {
        .about-me-section-container {
            margin: auto;
            padding: 0;
            text-align: center;
            width: 100%;

            img {
                position: static;
                display: block;
                margin: 1em auto;
            }

            .about-me-blurb {
                width: 80%;
                padding: 0 1em;
                text-align: center;
                margin: 1em;
            }
            
            .link-icons {
                margin-top: 1em;
            }
            
            .about-subheading {
                text-align: left;
            }
            
            p {
                text-align: left;
            }
        }
    }
    
    #work-container {
        text-align: center;
        padding-bottom: 5em;
        
        .project-img-container {
            width: 90%;
            margin: 0 auto;
            padding: 0;
        }
        
        .project-container {
            text-align: center;
        }
        
        img {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        
        .project-description {
            width: 90%;
            float: none;
            margin: 0 auto;
            padding-left: 0;
        }
    }
}

@media (max-width: 1079px) {
    
    #home-container {
        #name-container {
            #cta-button {
                margin-top: 2em;
            }
        }
    }
    
    #navigation-hamburger {
        top: 0.2em;
        right: 0.2em;
    }
    
    #about-container {
        .about-me-section-container {
            .about-me-blurb {
                width: 80%;
                margin: 0 auto;
            }    
        }
    }
    
    .info-container {
        width: 80%;
        margin: 0 auto;
    }

    #navigation-menu {
        top: 0.3em;
        width: 40%;
    }
    
    #contact-container {
        form {
            width: 100%;
            padding: 0;
            text-align: center;
            margin: auto;
            
            input {
                width: 100%;
            }
            
            textarea {
                width: 100%;
                margin: auto;
            }
            
            .form-grouping, .form-grouping-2 {
                width: 40%;
                margin: none;
                padding: none;
                display: inline-block;
            }
            
            button {
                width: 80%;
                margin: 1em auto;
            }
        }
    }
}

@media (max-width: 899px) {
    #navigation-menu {
        width: 50%;
    }
}

@media (max-width: 799px) {
    
    #home-container {
        #name-container {
            width: 80%;
            
            #cta-button {
                margin-top: 2em;
            }
        }
    }
    
    #about-container {
        img {
            width: 50%;
            height: auto;
        }
    }

    #navigation-menu {
        width: 60%;
    }

    #contact-container {
        text-align: center;
        
        form {
            width: 100%;
            text-align: center;
            padding: 1em 0;
            
            .form-grouping, .form-grouping-2 {
                width: 100%;
                margin: 0 auto;
                float: none;
            }
            
            input {
                width: 100%;
            }
            
            textarea {
                width: 100%;
            }
        }
        
    }
}

@media (max-width: 699px) {
    #navigation-menu {
        width: 70%;
    }
}

@media (max-width: 599px) {
    
    #home-container {
        #name-container {
            margin-top: 15vh;
            width: 80%;
            
            #name {
                font-size: $standard-font * 2;
            }
            #cta-button {
                font-size: $standard-font * 1.5;
            }
        }
    }
    
    #home-background {
        background: url('../assets/portfolio-splash-mobile-min.png');
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
        filter: none;
    }
    
    #work-container {
        .section-title {
            margin-bottom: -1em;
        }
        .project-container {
            padding: 4em 0;
        }
        .project-description {
            margin-top: 0.5em;
            .project-description-title {
                font-size: $standard-font * 1.1;
            }    
        }
    }
    
    #about-container {
        img {
            width: 50% !important;
            height: auto !important;
        }
        
        .link-icons {
            font-size: $standard-font * 2;
        }
    }

    #navigation-menu {
        width: 80%;
    }

    #contact-container {
        form {
            width: 100%;
            padding: 1em 0;
        }
    }
}

@media (max-width: 499px) {
    #navigation-menu {
        width: 90%;
    }
    
    #contact-container {
        form {
            button {
                font-size: 1.8em;
            }
        }
    }
}

@media (max-width: 399px) {
    #navigation-menu {
        
        #nav-title {
            display: none;
        }
        #nav-emblem {
            display: inline-block;
        }
    }
    
    #home-container {
        #name-container {
            #name {
                font-size: $standard-font * 2;
            }
            #cta-button {
                font-size: $standard-font * 1.5;
            }
        }
        
        #see-work {
            div {
                font-size: $standard-font * 0.5;
            }
        }
    }
    
    #work-container {
        .project-description-title {
            font-size: $standard-font * 1.75;
        }
        
        .project-description-technologies {
            font-size: $standard-font * 0.6;
        }
    }
    
    #contact-container {
        form {
            #form-heading {
                font-size: 1.8em;
            }
            #form-subheading {
                font-size: 1.2em;
            }
            
            textarea {
                &::placeholder {
                    font-size: 80%;
                }
            }
            
            button {
                font-size: 1.5em;
            }
        }
    }
}

@media (max-height: 599px) {
    #home-container {
        #name-container {
            margin-top: 15vh;
            width: 80%;
            
            #name {
                font-size: $standard-font * 2;
            }
            #cta-button {
                font-size: $standard-font * 1.5;
            }
        }
        
        #see-work {
            div {
                font-size: $standard-font * 0.5;
            }
        }
    }
    
    #navigation-menu {
        ul {
            font-size: $standard-font;
        }
    }
}

@media (max-height: 399px) {
    #home-container {
        #name-container {
            #cta-button {
                margin-top: 1em;
            }
        }
    }
}
