* {
  font-size: 1em; }

body {
  overflow: hidden; }

nav {
  z-index: 300; }
  nav button {
    background: rgba(255, 0, 152, 0.7);
    border: 1px solid #1a1a1a !important; }

#navigation-hamburger {
  color: white;
  position: fixed;
  top: 2em;
  right: 2em;
  font-size: 2em;
  cursor: pointer;
  z-index: 5; }

.full-screen {
  position: relative;
  top: 0;
  min-height: 100vh; }

#page-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 101vw;
  overflow: auto;
  position: absolute;
  right: -17px; }

#home-container {
  background: url("../assets/portfolio-splash.png");
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  #home-container #name-container {
    margin: auto;
    margin-top: 30vh;
    color: white; }
    #home-container #name-container #name {
      font-size: 3em;
      font-family: "Lato", sans-serif;
      font-weight: 600; }
    #home-container #name-container #title {
      font-size: 1.5em;
      font-family: "Lato", sans-serif; }
  #home-container #see-work {
    color: white;
    font-size: 2em;
    width: 100vw;
    position: absolute;
    bottom: 1em; }
    #home-container #see-work div {
      width: 20vw;
      margin: auto;
      cursor: pointer; }

.project-description {
  font-size: 1em;
  text-align: center; }
  .project-description .project-description-text {
    margin: 0;
    text-align: left; }
  .project-description .project-description-title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    text-align: left;
    color: #1a1a1a;
    font-family: "Lato", sans-serif; }
  .project-description .project-description-technologies {
    font-size: 0.8em;
    font-weight: lighter;
    text-align: left;
    margin: 0;
    padding-bottom: 1em; }
  .project-description .project-description-button {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #1a1a1a;
    text-align: center;
    background: rgba(255, 0, 152, 0.7);
    color: white;
    margin: auto;
    margin-top: 3em;
    padding: 0.5em 2em;
    font-size: 1.5em; }
  .project-description .project-description-container {
    border-radius: 5px;
    padding: 1em 0;
    height: 308px; }

#work-container .section-title {
  color: #1a1a1a; }
#work-container .project-divider {
  border-bottom: 1px solid rgba(26, 26, 26, 0.5);
  width: 1000px;
  margin: 1em auto; }
#work-container .project-description {
  color: rgba(26, 26, 26, 0.5);
  padding-left: 50px; }
#work-container img {
  border: 5px solid rgba(26, 26, 26, 0.9);
  background: rgba(26, 26, 26, 0.9);
  border-radius: 5px;
  width: 585px;
  height: 300px;
  margin: auto; }
#work-container .monitor-base {
  width: 200px;
  height: 25px;
  background: #1a1a1a;
  border-radius: 100% 100% 0 0;
  margin-left: 192.5px; }

#about-container {
  background-color: #1a1a1a; }
  #about-container .section-title {
    color: white; }
  #about-container .about-me-section-container {
    border-radius: 5px;
    padding: 3em; }
    #about-container .about-me-section-container img {
      position: relative;
      top: -5em;
      border-radius: 20px;
      height: 420px;
      width: 237.5px;
      background-color: white;
      display: inline-block; }
    #about-container .about-me-section-container .about-me-blurb {
      color: white;
      width: 700px;
      display: inline-block;
      vertical-align: top;
      margin-left: 100px; }
      #about-container .about-me-section-container .about-me-blurb .about-me-subheading {
        font-size: 1.5em;
        font-weight: bold;
        padding: 0.75em 0; }

#contact-container {
  background-color: #1a1a1a; }
  #contact-container .section-title {
    color: #1a1a1a; }
  #contact-container form {
    background: #1a1a1a;
    border-radius: 5px;
    margin: auto;
    width: 800px;
    padding: 1em 100px; }
    #contact-container form #form-heading, #contact-container form #form-subheading {
      color: white;
      text-align: center; }
    #contact-container form #form-heading {
      font-size: 2em;
      margin: 1em 1em 0.5em 1em;
      font-weight: bold;
      font-family: "Lato", sans-serif; }
    #contact-container form #form-subheading {
      font-size: 1.5em;
      margin-bottom: 2em; }
    #contact-container form .form-grouping, #contact-container form .form-grouping-2 {
      margin: 0;
      padding: 0;
      width: 275px; }
    #contact-container form .form-grouping {
      margin-right: 25px; }
    #contact-container form .form-grouping-2 {
      margin-left: 25px; }
    #contact-container form input {
      border-radius: 5px;
      padding: 0.5em;
      width: 275px;
      margin: 1em 0;
      display: block;
      border: 1px solid #1a1a1a;
      background: rgba(255, 255, 255, 0.5); }
      #contact-container form input::placeholder {
        color: white;
        font-weight: bold; }
    #contact-container form textarea {
      resize: none;
      height: 10em;
      padding: 0.5em;
      width: 600px;
      border-radius: 5px;
      border: 1px solid #1a1a1a;
      background: rgba(255, 255, 255, 0.5); }
      #contact-container form textarea::placeholder {
        color: white;
        font-weight: bold; }
    #contact-container form button {
      border-radius: 5px;
      border: 1px solid #1a1a1a;
      color: white;
      font-size: 2em;
      font-weight: bold;
      width: 400px;
      background: rgba(255, 0, 152, 0.7);
      padding: 0.5em;
      text-align: center;
      margin: 1em auto; }

#email-invalid {
  color: red;
  display: none; }

#thankyou-message-container {
  background: #1a1a1a;
  border-radius: 5px;
  margin: auto;
  width: 800px;
  height: 15em;
  padding: 1em 100px;
  display: none; }
  #thankyou-message-container #thankyou-message {
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    margin: 1em 1em 0.5em 1em; }

.info-container {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 1200px;
  margin: 0 auto; }

.section-title {
  font-size: 3em;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  font-weight: bold; }

.project-container {
  display: block;
  overflow-y: auto;
  margin: 0;
  padding: 8em 0;
  border-bottom: 1px solid rgba(26, 26, 26, 0.5); }
  .project-container img {
    width: 600px;
    height: 308px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: auto;
    padding: 0; }
  .project-container .img-on-white {
    border: 1px solid rgba(26, 26, 26, 0.5); }

#navigation-menu {
  z-index: 5;
  position: fixed;
  top: 3.5em;
  right: -50vw;
  width: 25vw;
  background: #1a1a1a;
  border: 1px solid white;
  border-radius: 5px; }
  #navigation-menu #navigation-close {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2vw;
    cursor: pointer;
    color: white; }
  #navigation-menu #nav-title {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 2vw;
    color: white;
    font-weight: bold;
    font-family: "Lato", sans-serif; }
  #navigation-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 4em;
    font-size: 1.5vw; }
    #navigation-menu ul li {
      padding: 1em 2em;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      display: block;
      border: 1px solid #1a1a1a;
      cursor: pointer; }
      #navigation-menu ul li:hover {
        background-color: rgba(255, 255, 255, 0.2); }
  #navigation-menu a {
    color: white;
    font-weight: bold;
    text-decoration: none; }
    #navigation-menu a i {
      margin-right: 1em; }

@media (max-width: 1200px) {
  .info-container {
    width: 1080px; }

  #navigation-menu {
    width: 30vw; }

  #about-container .about-me-section-container {
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%; }
    #about-container .about-me-section-container img {
      display: block;
      margin: 1em auto; }
    #about-container .about-me-section-container .about-me-blurb {
      width: 600px;
      padding: 0 1em;
      text-align: left;
      margin: 1em; }

  #work-container {
    text-align: center;
    padding-bottom: 5em; }
    #work-container img {
      padding-top: 2em;
      margin: 1em auto; }
    #work-container .project-description-container {
      width: 500px;
      margin: 1em auto; } }
@media (max-width: 1079px) {
  .info-container {
    width: 800px; }

  #navigation-menu {
    width: 40vw; }
    #navigation-menu #nav-title {
      font-size: 3vw; }
    #navigation-menu ul {
      font-size: 2vw; }
    #navigation-menu #navigation-close {
      font-size: 3vw; }

  #work-container {
    text-align: center;
    padding-bottom: 5em; }
    #work-container img {
      padding-top: 2em;
      margin: 1em auto; }
    #work-container .project-description-container {
      width: 500px;
      margin: 1em auto; } }
@media (max-width: 799px) {
  .info-container {
    width: 600px; }

  #navigation-menu {
    width: 50vw; }
    #navigation-menu #nav-title {
      font-size: 4vw; }
    #navigation-menu ul {
      font-size: 3vw; }
    #navigation-menu #navigation-close {
      font-size: 4vw; }

  #contact-container form {
    width: 600px;
    padding: 1em 0; } }

/*# sourceMappingURL=styles.css.map */
